/* Import Google Fonts */
/* Roboto, Roboto Mono, and Open Sans */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&family=Roboto+Mono:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&family=Roboto:ital,wght@0,300;0,400;0,500;0,700;0,900;1,300;1,400;1,500;1,700;1,900&display=swap');
/* 
font-family: 'Open Sans', sans-serif;
font-family: 'Roboto', sans-serif;
font-family: 'Roboto Mono', monospace; 
*/


@font-face {
    font-family: 'Webdings';
    src: url('font/webdings.ttf') format('truetype');
}
@font-face {
    font-family: 'Wingding';
    src: url('font/wingding.ttf') format('truetype');
}

* {
    margin:0;
    padding:0;
}

body {
    background-color:#0a347c;
    color:#f7f7f7;
    font-family: 'Open Sans', sans-serif;
}

#nav {
    display:flex;
    justify-content: space-around;
    align-items: center;
    padding-left:100px;
    padding-right:100px;

    background-color:whitesmoke;
    color:black;
    font-family: 'Roboto', sans-serif;
}
#nav h1 {
    margin:10px;
    color:black;
    font-size:36px;
}
#nav a {
    text-decoration:none;
    color:#f7f7f7;
}
.link {
    margin:5px;
    padding:10px 30px;
    border-radius:10px;

    background-color:#1581e0;
    font-weight:500;

    transition-duration: 0.25s;
}
.link:hover {
    padding:10px 35px;

    background-color:#79bee3;
}
.selected-link, .selected-link:hover {
    background-color:#0d4b9a;
}

#footer {
    box-sizing: border-box;
    display:flex;
    justify-content: space-evenly;
    align-items: center;

    padding:20px;
    width:100%;

    border-top: 5px solid #101135;
}
#footer p {
    text-align: center;
    font-size:20px;
    font-weight:600;
}
#footer a {
    text-decoration:none;
    color:#f7f7f7;
}
.mail-icon {
    font-family: 'Wingding';
    font-size:24px;
    font-weight:700;
}
#footer img {
    width:160px;
    border-radius:10px;
}


#resume-main {
    margin:40px;
}
#resume {
    display:block;
    margin:auto;
    width:50%;
}