/* Import Google Fonts */
/* Roboto, Roboto Mono, and Open Sans */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&family=Roboto+Mono:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&family=Roboto:ital,wght@0,300;0,400;0,500;0,700;0,900;1,300;1,400;1,500;1,700;1,900&display=swap');
/* 
font-family: 'Open Sans', sans-serif;
font-family: 'Roboto', sans-serif;
font-family: 'Roboto Mono', monospace; 
*/

* {
    margin:0;
    padding:0;
}

body {
    background-color:#021496;
    color:#f7f7f7;
    font-family: 'Open Sans', sans-serif;
}

#nav {
    display:flex;
    justify-content: space-around;
    align-items: center;
    padding-left:20px;
    padding-right:20px;

    background-color:whitesmoke;
    color:black;
    font-family: 'Roboto', sans-serif;
}
#nav h1 {
    margin:10px;
    font-size:40px;
}
#nav a {
    margin:10px;
    padding:15px 35px;
    border-radius:10px;

    background-color:#297adb;
    text-decoration:none;
    color:#f7f7f7;
    font-size:20px;
}